* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    overflow-x: hidden;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

button, textarea,input:focus {
    outline: none;
}